@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

.contenedorDetail{
  margin: 40px 0 0 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.figuraContenedor {
  font-family: 'Raleway', Arial, sans-serif;
  overflow:hidden;
  min-width: 430px;
  max-width: 330px;
  background: #ffffff;
  position:relative;
  border-radius: 1rem;
  border-style:outset;
  border-width: 0.rem;
  border-color: #ffff;
  box-sizing: border-box;
}

.buttonClose{
  position:absolute;
  left: 0px;
  background-color: transparent;
  border-width: 0px;
}

.figuraContenedor * { /*Solo indico que el contenido el sizing que yo coloco se calcule restando el paddign yd emas*/
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
} 
.figuraContenedor img {
  width: 55%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  /* -webkit-transition: all 0.35s ease-in-out; */
  transition: all 0.35s ease-in-out;
  /* -webkit-transform: scale(1.8); */
  transform: scale(1.3);/*Se agranda, multiplicando el ancho y alto de la img por lo que le apso eje x y y*/
  position: relative;
  float: right;
  right: -6%;
  z-index: 1; /*se superpone a todo entre mayor ses el valor*/
}

.figuraContenedor figcaption {
  position: absolute;
  top:20px;
  max-width: 180px;
  padding: 0 0 0 2%;
}

.figuraContenedor h2{
  margin:0 0 0 0;
  text-align: left;
  padding: 10px 0 0 17px; /*top right bottom left*/
  color: #000000;
  
}

.figuraContenedor .status { /*Esto es para el la parte de abajo del div */
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1; /*rango de 0 a 1*/
  font-style: italic;
  color: #ffffff;
  background: #000000;
  clear: both;
}

.figuraContenedor:hover > img,
.figuraContenedor.hover > img {
  right: -2%;
} 
