@import url(https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive);

@font-face {
  font-family: signatureFont;
  src: url("./KarstarFree.ttf");
}

@font-face {
  font-family: detailFont;
  src: url("./atwriter.ttf");
}

@font-face {
  font-family: oldFont;
  src: url("./OldNewspaperTypes.ttf");
}

.contenedorDetail {
  margin: 40px 0 40px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.figuraContenedor {
  overflow:hidden;
  width: 700px;
  height: fit-content;
  background-image: url('./FondoCardTransparente.png');
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  border-radius: 1rem;
  border-style:outset;
  border-width: 0.rem;
  border-color: #ffff;
  box-sizing: border-box; 
  padding: 10px;
}

.figuraContenedor * {
  box-sizing: border-box;
  position: relative;
} 

.figuraContenedor img {
  border: 4px solid #000000;
}

.figuraContenedor figcaption {
  padding: 8px;
  font-family: detailFont;
}

.figuraContenedor h2 {
  text-align: left;
  padding: 10px 0 0 17px;
  color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0px 0px 8px 0px;
}

.figuraContenedor .title {
  height: fit-content;
  border-width: 10px 10px 10px 10px;
  border-color: #ffffff;
  padding: 7px;
  border-style:solid;
  border-radius: 8px;
  font-size: 40px;
  font-family: oldFont;
  color: #ffffff;
  background-color: #A1BE3F;
}

.contenidoContenedor {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.SignatureContenedor {
  height: 70px;
  width: 50%;
  border-width: 10px 10px 10px 10px;
  border-color: #ffffff;
  padding: 7px;
  border-style:solid;
  border-radius: 8px;
  font-size: 80px;
  font-family: signatureFont;
  color: #ffffff;
  background-color: #A1BE3F;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SignatureContenedor p {
  font-size: 15px;
  font-family: detailFont;
  color: #000000;
  padding: 0px;
  margin: 0px;
  width: fit-content;
  float: left;
}

.SignatureContenedor div {
  font-size: 60px;
  font-family: signatureFont;
  color: #000000;
  padding: 0px;
  margin: 0px;
  width: fit-content;
  float: left;
}

.footerContenedor {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.footerContenedor img {
  width:45%;
  height: 70px;
}

@media screen and (max-width: 712px) {
  .contenidoContenedor {
    flex-direction: column-reverse;
  }

  .figuraContenedor {
    overflow:hidden;
    width: 80vw;
  }

  .figuraContenedor .title {
    font-size: 20px;
  }

  .figuraContenedor h2 {
    font-size: 17px;
  }

  .SignatureContenedor p {
    font-size: 8px;
  }
  
  .SignatureContenedor div {
    font-size: 20px;
  }

  .figuraContenedor img {
    max-width: 80%;
  }

  .figuraContenedor figcaption {
    min-width: 90%;
  }
}

