.contenedorPrincipal{
  padding: 60px 0 0 0;
}

.spinningTextWrapper{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
 
  border-style:outset;
  display:grid;
  place-items: center;
  box-sizing: border-box;
  
}

.spinningTextWrapper:hover{
  background: url(https://mystickermania.com/cdn/stickers/rick-and-morty/sticker_2060.png) no-repeat center;
  border-style: none;
  transform: scale(1.25)
}

.spinningTextWrapper img {
  position: absolute;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #ffffff;
}
/* Esto es para las opciones de imagenes DETAIL*/
.image_overlay{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(0,0,0,0.6);
  opacity: 0;
}

.image_overlay:hover{
  opacity: 1;
  cursor: pointer;
  
}

.image_buttons{
  position: relative;
  top: 50%;
}

.spinningText{
  position:absolute;
  width: 100%;
  height: 100%;
  margin:0;
  
  animation: spin 50s linear infinite; 
}

.spinningText span{
  position: absolute;
  top:0px;
  transform-origin: 0 150px;
  font-weight: bold;
  color:#ffffff;
  font-size:large;
  font-family: Patrick Hand;
}

.spinningText:hover{
  animation-play-state: paused;
  cursor: pointer;
}

.buttonClose:hover{
  cursor: pointer;
  transform:scale(2);
}

.buttonFav:hover{
  cursor: pointer;
  transform:scale(2);
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }  
  100%{
    transform: rotate(360deg);
  }
}

.NavLink{
  font-size:large;
  font-family: Patrick Hand;
  text-decoration: none;
  color: #ffffff;
}

.NavLink:hover{
  font-family: Patrick Hand;
    
    text-decoration: none; /*?Para quitarle el subrayado o tachados por ser enlace que tiene*/
    color: #BEDD3E;
    text-shadow:1px 0px #42B4CA;
}