*{
   font-family: Patrick Hand ;
   font-size: 20px;
   color: white;
}

.button_text{
   background-color: #42B4CA;
   padding: 7px;
   border-radius: 15%;
}

input{
   border-color: #42B4CA;
   border-width: 6px;
   background: transparent;
   border-radius: 30px;
   padding: 4px 4px 4px 4px;
   color: #7AC71D;
}

input:hover{
   
   box-shadow: 0 0 25px 0 #7AC71D,
               0 20px 25px 0 rgba(0, 0, 0, 0.2);
   transition: all 1s;
}