.gridCards{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    place-items: center;
    margin-bottom: 3%;
}

@media screen and (max-width: 630px) {
    .gridCards{
        display: grid;
        grid-template-columns: 12fr;
        place-items: center;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 631px) and (max-width: 1000px) {
    .gridCards{
        display: grid;
        grid-template-columns: 6fr 6fr;
        place-items: center;
        margin-bottom: 3%;
    }
}